* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #202020;
}

.container {
  position: relative;
  padding: 30px 20px;
  border-radius: 20px;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25), inset -5px -5px 15px rgba(0, 0, 0, 0.25),
    inset 5px 5px 15px rgba(0, 0, 0, 0.25);
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  justify-content: center;
}

.calculator .value {
  grid-column: span 4;
  height: 100px;
  border: none;
  outline: none;
  background-color: #a7af7c;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.75);
  text-align: right;
  padding: 10px;
  font-size: 2em;
}

.container span {
  color: #fff;
  position: relative;
  display: grid;
  place-items: center;
  margin: 6px;
  height: 80px;
  background: linear-gradient(180deg, #2f2f2f, #3f3f3f);
  box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
    inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75),
    10px 20px 25px rgba(0, 0, 0, 0.4);
  user-select: none;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.15s ease;
}

.container span:hover {
  filter: brightness(1.3);
}

.container span:active {
  transform: scale(0.97);
}

.calculator span::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  bottom: 14px;
  right: 12px;
  border-radius: 10px;
  background: linear-gradient(90deg, #2d2d2d, #4d4d4d);
  box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.1),
    10px 5px 10px rgba(0, 0, 0, 0.15);
  border-left: 1px solid #0004;
  border-bottom: 1px solid #0004;
  border-top: 1px solid #0009;
}

.calculator span i {
  position: relative;
  font-style: normal;
  font-size: 1.5em;
  text-transform: uppercase;
}

.calculator .clear {
  grid-column: span 2;
  background: #f00;
}

.calculator .clear::before {
  background: linear-gradient(90deg, #d20000, #ffffff5c);
}

.calculator .plus {
  grid-row: span 2;
  height: 170px;
}

.calculator .equal {
  grid-column: span 4;
  background: #2196f3;
  height: 80px;
}

.calculator .equal::before {
  background: linear-gradient(90deg, #1479c9, #ffffff5c);
}


@media (max-width: 500px) {
  .calculator {
    grid-template-columns: repeat(4, 65px);
  }
  .container span {
    height: 65px;
    font-size: 1.2em;
  }
  .calculator .value {
    height: 80px;
    font-size: 1.5em;
  }
}
